body {
  font-family: 'Asap', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

h1, h2, h3, h4, p, span {
    color: $font-color;
}

.logo {
    display: flex;
    justify-content: center;
    padding: 20px;

    img {
        max-width: 50px;
    }
}

.ant-layout {
    height: 100vh;

    .ant-layout-sider-children {
        position: relative;

        .ant-menu {
            height: 100%;

            [data-menu-id="rc-menu-uuid-29232-2-/auth/logout"] {
               position: absolute;
               bottom: 60px;
              }
        }
    }

    .ant-menu {
        .ant-menu-item {
            span {
                color: white;
            }
        }
    }
}


